<%- include("./partials/header") %>
<div class="ui text container">
    <form action="/blog" method="POST" class="ui form">
        <div class="ui container">
            <div class="field">
                <input type="text" id="text" name="text"  class="validate" placeholder="Write blog" >
            </div>
            <button class="ui basic fluid green button">New Blog</button>
        </div>
    </form>
</div>
<%- include("./partials/footer") %>